USE [db_staffing]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 08/16/2018 01:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password] [numeric](18, 0) NULL,
	[name] [nvarchar](max) NULL,
	[lob] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[usertype] [nvarchar](1) NULL,
	[isactive] [bit] NULL,
	[employeeid] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON
INSERT [dbo].[UserProfile] ([_id], [username], [password], [name], [lob], [photo], [usertype], [isactive], [employeeid]) VALUES (CAST(1 AS Numeric(18, 0)), N'sunny-rajput', CAST(839650 AS Numeric(18, 0)), N'Sunny Rajput', N'Mercer Others', NULL, N'1', 1, CAST(839650 AS Numeric(18, 0)))
INSERT [dbo].[UserProfile] ([_id], [username], [password], [name], [lob], [photo], [usertype], [isactive], [employeeid]) VALUES (CAST(2 AS Numeric(18, 0)), N'lalit-gupta', CAST(839646 AS Numeric(18, 0)), N'Lalit Gupta', N'Health', NULL, N'1', 1, CAST(839646 AS Numeric(18, 0)))
INSERT [dbo].[UserProfile] ([_id], [username], [password], [name], [lob], [photo], [usertype], [isactive], [employeeid]) VALUES (CAST(3 AS Numeric(18, 0)), N'abhijeet-sangwan', CAST(840468 AS Numeric(18, 0)), N'Abhijeet ', N'Support Others', NULL, N'1', 1, CAST(840468 AS Numeric(18, 0)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
/****** Object:  Table [dbo].[position]    Script Date: 08/16/2018 01:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position](
	[_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[taleonumber] [nvarchar](max) NULL,
	[grade] [nvarchar](max) NULL,
	[designation] [nvarchar](max) NULL,
	[Diversity_Position] [bit] NULL,
	[lob] [nvarchar](max) NULL,
	[worklocation] [nvarchar](max) NULL,
	[shift] [nvarchar](max) NULL,
	[modeofinterview] [nvarchar](max) NULL,
	[RecruiterName] [nvarchar](max) NULL,
	[role] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[InterviewDetails] [nvarchar](max) NULL,
	[sdate] [date] NULL,
	[edate] [date] NULL,
	[publishedby] [nvarchar](max) NULL,
	[publishedon] [date] NULL,
	[headcount] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[headcount]    Script Date: 08/16/2018 01:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[headcount](
	[_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[countType] [nvarchar](max) NULL,
	[visits] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[headcount] ON
INSERT [dbo].[headcount] ([_id], [countType], [visits]) VALUES (CAST(2 AS Numeric(18, 0)), N'visitor', CAST(2 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[headcount] OFF
/****** Object:  Table [dbo].[feedback]    Script Date: 08/16/2018 01:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CandidateId] [numeric](18, 0) NULL,
	[statusid] [numeric](18, 0) NULL,
	[Feedback] [nvarchar](max) NULL,
	[SavedBy] [numeric](18, 0) NULL,
	[HrName] [nvarchar](max) NULL,
	[SavedOn] [datetime] NULL,
	[DateString] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate]    Script Date: 08/16/2018 01:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate](
	[_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jobid] [numeric](18, 0) NULL,
	[firstname] [nvarchar](max) NULL,
	[midname] [nvarchar](max) NULL,
	[lastname] [nvarchar](max) NULL,
	[dob] [date] NULL,
	[primaryskill] [nvarchar](max) NULL,
	[secondaryskill] [nvarchar](max) NULL,
	[totalexp] [nvarchar](max) NULL,
	[curentexp] [nvarchar](max) NULL,
	[currentlocation] [nvarchar](max) NULL,
	[preferredlocation] [nvarchar](max) NULL,
	[referedby] [numeric](18, 0) NULL,
	[lob] [numeric](18, 0) NULL,
	[sublob] [numeric](18, 0) NULL,
	[mobile] [numeric](10, 0) NULL,
	[emailid] [nvarchar](max) NULL,
	[attachment] [nvarchar](max) NULL,
	[referedon] [date] NULL,
	[referenceid] [numeric](18, 0) NULL,
	[IsFemale] [bit] NULL,
	[statusid] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
