.strikethrough{
    text-decoration : line-through;
    color:darkslategray;
}
.container
{
    background-color: white;
}
.form
{
    margin: 5px 15px 5px 15px;
}
.form-group
{
    margin-top:10px;
    margin-left: 10px;
    margin-right: 5px; 
    
}
.logoheader{
    width: 100%;
    background-image: url('images/bg_banner_upper.png');
    background-color: #15224f;
    height: 101px;

}
.form-group input{
    height:30px;
}
.form-group  button{
    height:30px;
}
.mercerinsights{
vertical-align: right !important;
float:right;    color: #fff;
    line-height: 100px;
    min-height: 100px;
    padding: 7px;
}
.mercerinsights a{
color:white !important;

}
.MercerPicture{
    float:left;
}
.footer-bottom {
    background-image: url('images/bg_banner_upper.png');
    background-color: #15224f;
    min-height: 50px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    text-align:right;
}
.layer{
    margin:0 40px 0 40px;
}
.signInHeader{
    color:white;
    font-size:17px;
    background-image: url('images/bg_signIn_header.png');
    background-color: #006dcc;
    margin-right: 0px;
    margin-top: 20px;
    text-align: center;
    }

.signInBox{
    margin-top: -5px;
    margin-right: 0px;
}

